.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.calculator-wrap {
  border: 0.05em solid #fff;
  background: #fff;
  height: 24em;
  width: 13em;
  border-radius: 1em;
  overflow: hidden;
  padding: 0.5em;

  .screen {
    height: 7.5em;
    width: 100%;
    background: #fff;
    border: 0.05em solid #cdcdcd;
    border-radius: 0.5em;
    margin-bottom: 1em;
    overflow: hidden;


    .input-stream {
      height: 50px;
      width: auto;
      color: #000;
      padding: 5px;
      text-align: right;
    }

    .answer {
      font-size: 3em;;
      width: auto;
      text-align: right;
      color: #000;
      margin-top: 30px;
      padding: 5px;

    }
  }

  .numbers-wrap {
    display: grid;
    padding: 0.2em;
    width: 100%;
    grid-template-columns: 20% 20% 20% 20%;
    grid-gap: 8%;


    .number {
      background: #fff;
      padding: 0.5em;
      height: 2em;
      width: 2em;
      border-radius: 0.8em;
      cursor: pointer;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #282c34;

      &.shadow {
        //-moz-box-shadow: 0px 1px px 0px #a8a8a8;
        //-webkit-box-shadow: 0px 1px 5px 0px #a8a8a8;
        //box-shadow: 0px 1px 5px 0px #a8a8a8;
      }

      &.equal{
        grid-column-start: 3;
        grid-column-end: 4;
        width: 5.2em !important;
      }
      &.yellow {
        background: #F5DEB3;
      }

      &.blue {
        background: #6495ED;
      }

      &.offwhite {
        background: #cdcdcd;
      }
    }

  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
